{% extends "base.html" %}

{% block content %}

<div class="container jumbotron mt-5">
	
	<div class="user-details">
		<h3 class="border-bottom text-center">Account Details</h3>
		<form>
			<div class="form-group">
				<label>Full Name</label>
				<input type="text" class="form-control" value="{{object.firstname}} {{object.lastname}}" readonly>
			</div>
		  	<div class="form-group">
		    	<label>Username</label>
		    	<input type="text" class="form-control" value="{{object.username}}" readonly>
		  	</div>
		  	<div class="form-group">
		    	<label>Email address</label>
		    	<input type="email" class="form-control" value="{{object.email}}" readonly>
		  	</div>
		  	<div class="form-group">
		    	<label>Date of birth</label>
		    	<input type="text" class="form-control" value="{{object.date_of_birth}}" readonly>
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputPassword1">Password</label>
		    	<input type="password" class="form-control" value="object.password" readonly>
		  	</div>
		</form>
		<div class="text-center">
			<a href="{% url 'update' username=object.username %}" class="btn btn-primary">Edit Profile</a>
		</div>
	</div>
</div>
<style>
	.container.jumbotron .user-details input {
		background: #fff;
	}
</style>
{% endblock content %}