<style>
	/*.footer {
		height: 250px;
		background: #222222;
		color: #fff;
	}

	.footer a {
		color: #fff;
	}

	.footer a:hover {
		color: var(--danger);
	}

	.footer-about-section {
		margin-left: 25px;
	}

	.footer-about-section ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}*/

	footer {
		height: 60px;
	    background: #000;
	}
</style>
<!-- <div class="footer">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-4 mt-3">
			<div class="footer-about-section">
				<div>
					<h4>Atoz</h4>
				</div>
				<div>
					<ul>
						<li><a href="">Meet Our Team</a></li>
						<li><a href="">Contact us</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">Terms and Conditions*</a></li>
						<li><a href="">Privacy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter-form-div">
					<h4><p>Sign Up for the <strong>NEWSLETTER</strong></p></h4>
					<form method='POST' action='' class="form newsletter-form">
					    <div class="input-group">
					        <input class="form-control" type="text" placeholder="Enter Your Email" name='newsletter'>
					        <span class="input-group-append">
					            <button type="submit" class="subs-btn">
					            	<i class="material-icons">
										mail
									</i>
									Subscribe
					            </button>
					        </span>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-info-div">
	<div class="container text-white">
		<div class="pt-4 footer-div">
			<h6>We help you decide "What to Buy" & "Where to Buy".</h6>
			<p>We have the following features and tools on our site to make the research experience better:</p>
			<p>
				<strong>News:</strong> We cover everything and anything in technology – all the important news, launches, live videos, and much more.
			</p>
			<p>
				<strong>Videos:</strong> Prefer watching a video for a mobile review? Check out our YouTube channel. We shoot product videos in Hindi and English for our users.
			</p>
			<p>
				<strong>Price Comparison:</strong> We cover prices from all the top online retailers like Amazon, Flipkart, Paytm, Tata CLiQ etc. and show it along with applicable offers and coupons so that users can get the best price for the product.
			</p>
			<p>
				<strong>Upcoming Products: </strong> We constantly look for information on upcoming products on the certification and other similar sites, and keep our database and section for upcoming products updated at all times. For many of these products, we are the first ones among all tech news sites to cover them.
			</p>
		</div>
	</div>
</div>

<style>
	.newsletter {
		background-color: #E4E7ED;
		/*border-top: 2px solid #E4E7ED;*/
		border-bottom: 3px solid rgba(0, 169, 255, 1);
		padding-bottom: 45px;
	}
	.newsletter p {
	    font-size: 1.2rem;
	    margin: 20px 0 30px 0;
	    text-align: center;
	}
	.newsletter-form {
		width: 60%;
		margin: auto;
		font-size: 0.9rem;
	}

	.newsletter .material-icons {
		color: #fff;
		font-size: 0.9rem;
		vertical-align: middle;
		margin-top: -5px;
		margin-right: 0;
	}

	.subs-btn {
		display: inline-block;
		color: #fff;
		width: 160px;
	    font-weight: 700;
	    background: rgba(0, 169, 255, 1);
	    border: none;
	    /*border-radius: 0px 40px 40px 0px;*/
	}
	.footer-info-div {
		background-color: #15161D;
	}

	.footer-div	{
		font-size: 0.7rem;
		font-weight: 300;
		padding-bottom: 20px;
	}

	.footer-div strong {
		color: rgba(0, 169, 255, 1);
	}

	@media only screen and (max-width: 600px) {
		.newsletter-form {
			width: 100%;
		}
	}
</style>

<footer>
	<div class="container">
		<div>
			<h6 class="text-white" style="padding: 20px 0;text-align: center;font-size: 0.7rem;">
				© AtoZ Web Technology Private Limited. All Rights Reserved.
			</h6>
		</div>
	</div>
</footer>