{% extends "blog_base.html" %}

{% block content %}

<style>
    .post-title {
        font-size: 1rem;
        /* line-height: 20px; */
        font-weight: bold;
        /* overflow-wrap: break-word; */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    a {
        color: #000;
    }
    a:hover {
        text-decoration: none;
        color: var(--danger);
    }

    .block-title-div {
        position: relative;
    }
    .block-title {
        font-size: 14px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 26px;
        border-bottom: 2px solid #222;
        /*background-color: #4db2ec;*/
    }
    .block-title span {
        line-height: 17px;
        display: inline-block;
        padding: 7px 12px 4px;
        background-color: #222;
        color: #fff;
    }

    .sidebar-product-list {
        list-style: none;
    }
    .sidebar-product {
        line-height: 20px;
        margin: 0 0 1px 0;
        padding: 0.75em 0;
        font-size: 90%;
        border-bottom: 1px solid #c6c5c5;
        display: block;
        overflow: hidden;
    }
    .sidebar-product:last-child {
        border: none;
    }
    .product-img-div {
        width: 80px;
        height: 80px;
        float: left;
        position: relative;
    }
    .product-img-div .product-img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        margin: auto;
        padding-right: 5px;
        left: 0;
        right: 0;
    }

    .product-details-div .product-title{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .product-details-div .product-price {
        font-size: 0.7rem;
    }

    .top-post-col {
        margin-top: 48px;
    }
    .top-post-detail-div {
        position: absolute;
        transform: translate(15px, -90px);
        color: #fff;
    }

    .post-container:not(:last-child) {
        margin-bottom: 20px;
    }

    .post-wrapper img {
        filter: brightness(0.5);
    }

    .post-wrapper:hover,
    .post-wrapper:active,
    .post-wrapper:focus {
        transform: scale(1.05);
        transition: 0.5s;
    }

</style>

<div class="main-div">
    <div class="post-container">
            <div class="container">
                <div class="row">
                {% for post in post_list|slice:":2" %}
                <div class="col-sm-12 col-md-6 col-lg-6 top-post-col mb-4">
                    <div class="post-wrapper">
                        <a href='{{ post.get_absolute_url }}' >   
                            {% if post.image_url %}
                                 <img src='{{ post.image_url }}' alt="post image" />
                            {% endif %}
                            <div class="top-post-detail-div">
                                {% if post.draft %}
                                    <h3>Staff only: Draft</h3>
                                {% endif %} 
                                {% if post.publish > today %}
                                    <h3>Staff Only: Post will publish on {{ post.publish }}</h3>
                                {% endif %}
                                <h3 class="post-title" style="font-size: 1.5rem;">{{post.title}}</h3>
                                <div style="font-size: 0.8rem;">
                                    <span>Team AtoZ</span>
                                    <span> - {{ post.publish }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                {% for post in post_list|slice:":3" %}
                <div class="col-sm-12 col-md-4 col-lg-4 pos-list-col mb-3">
                    <a href='{{ post.get_absolute_url }}'>   
                        {% if post.image_url %}
                             <img src='{{ post.image_url }}' alt="post image" />
                        {% endif %}
                        <div class="post-detail-div">
                            {% if post.draft %}
                                <h3>Staff only: Draft</h3>
                            {% endif %} 
                            {% if post.publish > today %}
                                <h3>Staff Only: Post will publish on {{ post.publish }}</h3>
                            {% endif %}
                            <h3 class="post-title">{{post.title}}</h3>
                            <div style="font-size: 0.7rem;">
                                <span style="font-weight: bold;color: #000;">Team AtoZ</span>
                                <span style="color: grey;"> - {{ post.publish }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="post-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 mt-4">
                
                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Recent News</span>
                        </h4>
                    </div>

                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-sm-12 col-md-4 col-lg-4 pos-list-col">
                            <a href='{{ post.get_absolute_url }}'>   
                                {% if post.image_url %}
                                     <img src='{{ post.image_url }}' alt="post image" />
                                {% endif %}
                                <div class="post-detail-div">
                                    {% if post.draft %}
                                        <h3>Staff only: Draft</h3>
                                    {% endif %} 
                                    {% if post.publish > today %}
                                        <h3>Staff Only: Post will publish on {{ post.publish }}</h3>
                                    {% endif %}
                                    <h3 class="post-title">{{post.title}}</h3>
                                    <div style="font-size: 0.7rem;">
                                        <span style="font-weight: bold;color: #000;">Team AtoZ</span>
                                        <span style="color: grey;"> - {{ post.publish }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <style>
                        .pagination {
                            align-items: center;
                        }

                        .pagination span.current {
                            color: grey;
                            font-size: 0.8rem;
                        }

                        .page-change-btn i {
                            font-size: 0.6rem;
                            vertical-align: middle;
                            margin-top: -4px;
                            margin-left: 2px
                        }

                        .page-change-btn {
                            background: #fff;
                            color: var(--dark);
                            border: 1px solid #e3e3e3;
                            padding: 5px 11px 8px 11px;
                            margin: 0 8px 8px 0;
                            font-size: 0.8rem;
                            color: #666;
                        }
                        .page-change-btn:hover {
                            border: 1px solid var(--dark);
                            background: var(--dark);
                            color: #fff;
                        }
                        .page-change-btn.active {
                            border: 1px solid var(--danger);
                            background: var(--danger);
                            color: #fff;
                        }
                    </style>
                    <script>
                        $(document).ready(function() {
                            $(".page-num-btn").last().addClass('last-page-btn');
                            $(".page-num-btn").first().addClass('first-page-btn');

                            var lastBtnID = $(".page-num-btn").last().attr('id').replace(/\D/g,'');

                            $(".page-num-btn").each(function() {
                                var currentBtnID = $(this).attr('id')

                                if (window.location.search === '') {
                                    $(".page-num-btn").first().addClass('active');
                                }

                                if (window.location.search === $(this).attr('href')) {
                                    $(this).addClass('active');
                                }

                                if ($(this).hasClass('active')) {
                                    
                                    if(!$(this).is('#btn-2') && !$(this).is('#btn-3')) {
                                        $( ".page-num-btn.active" ).prev().before( "<span class='page-change-btn before-dots' style='border:0;'>....</span>" );
                                    }

                                    if(currentBtnID !== "btn-"+(lastBtnID-1) && currentBtnID !== "btn-"+(lastBtnID-2)) {
                                        $( ".page-num-btn.active" ).next().after( "<span class='page-change-btn after-dots' style='border:0;'>....</span>" );
                                    }

                                    $( "span.after-dots" ).nextUntil('.last-page-btn').css({"display": "none"});

                                    $( "span.before-dots" ).prevUntil('.first-page-btn').css({"display": "none"});
                                }
                                
                            });
                        });
                    </script>
                    <div class="pagination mt-5 mb-5">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <!-- <a class="page-change-btn" href="?page=1">&laquo; first</a> -->
                                <a class="page-change-btn back-btn" href="?page={{ page_obj.previous_page_number }}"> 
                                    <i class="material-icons">
                                        arrow_back_ios
                                    </i>
                                </a>
                            {% endif %}

                            {% for pageNum in page_range %}
                                <a class="page-change-btn page-num-btn" id="btn-{{pageNum}}" href="?page={{pageNum}}">
                                    {{pageNum}}
                                </a>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="page-change-btn next-btn" href="?page={{ page_obj.next_page_number }}"> 
                                    <i class="material-icons">
                                        arrow_forward_ios
                                    </i>
                                </a>
                                <!-- <a class="page-change-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
                            {% endif %}
                        </span>
                        <span class="current ml-auto">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mt-4">

                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Latest Articles</span>
                        </h4>
                    </div>

                    <ul class="sidebar-product-list">
                        {% for product in product_list %}
                            <li class="sidebar-product">
                                <a href="{{ product.get_absolute_url }}">
                                    {% for image in image_list %}
                                        {% if product == image.product %}
                                          <div class="product-img-div">
                                              <img class="product-img" src="{{image.get_image_url}}" alt="{{product}} image">
                                          </div>
                                        {% endif %}
                                    {% endfor %} 
                                    <div class="product-details-div">
                                        <h6 class="product-title">{{product.title}}</h6>
                                        <span class="product-price text-dark">Rs. {{product.price}}</span>
                                    </div>                       
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Popular Articles</span>
                        </h4>
                    </div>

                    <ul class="sidebar-product-list">
                        {% for product in product_list %}
                            <li class="sidebar-product">
                                <a href="{{ product.get_absolute_url }}">
                                    {% for image in image_list %}
                                        {% if product == image.product %}
                                          <div class="product-img-div">
                                              <img class="product-img" src="{{image.get_image_url}}" alt="{{product}} image">
                                          </div>
                                        {% endif %}
                                    {% endfor %} 
                                    <div class="product-details-div">
                                        <h6 class="product-title">{{product.title}}</h6>
                                        <span class="product-price text-dark">Rs. {{product.price}}</span>
                                    </div>                       
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    

                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Best Learning Platforms</span>
                        </h4>
                    </div>

                    <style>
                        .best-mobiles-list {
                            list-style: none;
                            font-size: 16px;
                            padding:0;
                            margin-left: 10px;
                            font-weight: bold;
                        }
                        .best-mobiles-list li {
                            margin-bottom: 10px;
                        }
                    </style>

                    <ul class="best-mobiles-list">
                        {% for provider in course_provider_list %}
                          <li><a href="affiliate Link of provider">{{provider}}</a></li>
                        {% endfor %}
                    </ul>

                    
                </div>
            </div>
        </div>
    </div> 

</div>
{% endblock content %}

