{% extends "blog_base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/blog_post_detail.css' %}">

<div class="main-div">
    <div class="post-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 mt-4 post-detail-col">
                    <h2 class="post-header">{{ object.title }} <br>
                        <small>
                            {% if object.draft %}
                                <span style='color:red;'>Draft</span> 
                            {% endif %}
                            <div class="mt-2" style="font-size: 0.7rem;">
                                <span style="font-weight: bold;color: #000;"><span style="color: grey;font-weight: normal;">By </span>{{object.author}}</span>
                                <span style="color: grey;"> - Published On: {{ post.publish }} | Last Updated: {{ post.updated }}</span>
                            </div>
                        </small>
                    </h2>

                    {% if object.image_url %}
                        <img src='{{ object.image_url }}'/>
                    {% endif %}

                    <p class="text-muted text-right" style="font-size: 0.8rem;">Author: <strong>{{object.author}}</strong></p>


                    <div class='post-detail-item'>{{ object.get_markdown }}</div>


                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Related Articles</span>
                        </h4>
                    </div>

                    <div class="row">
                        {% for post in related_articles|slice:":6" %}
                        <div class="col-sm-12 col-md-4 col-lg-4 pos-list-col mb-3">
                            <a href='{{ post.get_absolute_url }}'>   
                                {% if post.image_url %}
                                     <img src='{{ post.image_url }}' alt="post image" />
                                {% endif %}
                                <div class="post-detail-div">
                                    {% if post.draft %}
                                        <h3>Staff only: Draft</h3>
                                    {% endif %} 
                                    {% if post.publish > today %}
                                        <h3>Staff Only: Post will publish on {{ post.publish }}</h3>
                                    {% endif %}
                                    <h3 class="post-title">{{post.title}}</h3>
                                    <div style="font-size: 0.7rem;">
                                        <span style="font-weight: bold;color: #000;">{{post.author}}</span>
                                        <span style="color: grey;"> - {{ post.publish }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 mt-4">

                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Latest Articles</span>
                        </h4>
                    </div>

                    <ul class="best-providers-list">
                        {% for post in recent_articles %}
                        <li class="border-bottom">
                            <a href="{{post.get_absolute_url}}">{{post}}</a>
                        </li>
                        {% endfor %}
                    </ul>                  

                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Online Learning Platforms</span>
                        </h4>
                    </div>

                    <ul class="best-providers-list">
                        {% for provider in course_provider_list %}
                        <li>
                            <img class="provider-image" src="{{provider.image_url}}" alt="">
                            <a href="{{provider.provider_url}}">{{provider}}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}