{% extends "blog_base.html" %}

{% block content %}

{% include "base/pagination/pagination-css.html" %}

<style>
    .block-title-div {
        position: relative;
    }
    .block-title {
        font-size: 14px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 26px;
        border-bottom: 2px solid #222;
    }
    .block-title span {
        line-height: 17px;
        display: inline-block;
        padding: 7px 12px 4px;
        background-color: #222;
        color: #fff;
    }

    .post-list:hover {
        background-color: #dee2e6;
        transition-duration: 0.2s;
    }

    .post-anchor-tag {
        text-decoration: none !important;
        color: #333 !important;
    }

    .post-wrapper {
        display: flex;
    }

    .post-img-wrapper {
        height: 150px;
        width: 200px;
    }

    .post-detail-div {
        height: 150px;
    }

    .post-title {
        max-width: 500px;
        font-size: 0.9rem;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .content-div {
        height: 64px;
        font-size: 0.7rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .timestamp-div {
        font-size: 0.7rem;
    }

    @media only screen and (max-width: 600px) {

        .post-img-wrapper {
            width: 55px;
        }

        .post-title { 
            font-size: 0.7rem;
        }
        .content-div {
            font-size: 0.6rem;
            height: 60px;
        }
    }
    @media only screen and (max-width: 374px) { 
        .content-div { 
            height: 89px;
        }
    }
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-8 pos-list-col">
            <div class="block-title-div">
                <h4 class="block-title">
                    <span>Recent Articles</span>
                </h4>
            </div>
            
            {% for post in post_list %}
            <div class="border-bottom p-3 post-list">
                <a class="post-anchor-tag" href='{{post.get_absolute_url}}'>
                    <div class="post-wrapper">   
                        {% if post.image_url %}
                        <div class="post-img-wrapper">
                             <img src='{{ post.image_url }}' alt="post image" />
                         </div>
                        {% endif %}
                        <div class="post-detail-div ml-2">
                            {% if post.draft %}
                                <h3>Staff only: Draft</h3>
                            {% endif %} 
                            {% if post.publish > today %}
                                <h3>Staff Only: Post will publish on {{ post.publish }}</h3>
                            {% endif %}
                            <h3 class="post-title">{{post.title}}</h3>
                            <div class="content-div">
                                <p>
                                    {{post.content|truncatechars:120}}
                                    <a href="{{post.get_absolute_url}}">Read more</a>
                                </p>
                            </div>
                            <div class="timestamp-div">
                                <p><strong>Team CB</strong><span class="text-muted"> - {{ post.publish }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            {% endfor %}

            {% include "base/pagination/pagination.html" %}
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="discount-coupons-wrapper">
                <div class="course-review-wrapper">
                    <div class="block-title-div">
                        <h4 class="block-title">
                            <span>Latest Reviews</span>
                        </h4>
                    </div>
                </div>
                <div class="block-title-div">
                    <h4 class="block-title">
                        <span>Discount Coupons</span>
                    </h4>
                </div>
            </div>
        </div>
    </div> 
</div>

{% include "base/pagination/pagination-js.html" %}

{% endblock content %}

