{% extends "blog_base.html" %}

{% block content %}

<div class="container">
    <div class='row  mb-3'>
        
        <div class='col-sm-12 col-md-6 col-lg-6 mx-auto p-3'>
           {% include 'search_forms/blog_search_form3.html' %}

        </div>
        <div class="col-12">
            <hr/>
        </div>
        {% if post_list and query %}
            <div class='col-12' >
                
                <div class="bg-light p-3">
                    Showing Results for -<strong> {{ query }}</strong>
                </div>
            </div>
        {% endif %}
        {% if not query %}
            <div class='col-12' >
                
                <div class="bg-light p-3">
                    <strong>Showing all Posts</strong>
                </div>
            </div>
        {% endif %}
        
    </div>

    {% if post_list %}
        <style>
            .blog_search_list:hover {
                background-color: lightblue;
                transition-duration: 0.2s;
            }
            .search_post_title {
                /*height: 54px;*/
                max-width: 500px;
                font-size: 0.9rem;
                font-weight: 700;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .timestamp-div {
                font-size: 0.6rem;
            }
        </style>
    {% for post in post_list %}
        <div class="border-bottom p-3 blog_search_list">
            <a href="{{post.get_absolute_url}}" style="text-decoration: none;color: #333;">
                <div style="display: flex;">
                    <img src="{{post.image_url}}" alt="" style="max-height: 150px;max-width: 150px;">
                    <div class="ml-2">
                        <h5 class="search_post_title">
                            {{post.title}}
                        </h5>
                        {% if post.author %}
                            <div class="timestamp-div">
                                <p><strong>{{post.author}}</strong><span class="text-muted"> - {{ post.publish }}</span>
                                </p>
                            </div>                            
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

    {% else %}
        <div class="text-center text-danger">
            <h1>No Articles found - <span class="text-muted">{{query}}</span></h1>
            <i class="material-icons" style="font-size: 2.5rem;">sentiment_very_dissatisfied</i>
        </div>
    {% endif %}

</div>

{% endblock content %}
