{% load static %}

<link rel="stylesheet" href="{% static 'css/pagination.css' %}">

<div class="pagination mt-5 mb-5">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="page-change-btn" href="?page=1">&laquo; first</a>
        <a class="page-change-btn back-btn" href="?page={{ page_obj.previous_page_number }}">
            &lt;prev
        </a>
        {% endif %}

        {% for pageNum in page_range %}
        <a class="page-change-btn page-num-btn" id="btn-{{pageNum}}" href="?page={{pageNum}}">
            {{pageNum}}
        </a>
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="page-change-btn next-btn" href="?page={{ page_obj.next_page_number }}">
            next&gt;
        </a>
        <a class="page-change-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <span class="current ml-auto">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
</div>

<script src="{% static 'js/pagination.js' %}"></script>