<style>
    .pagination {
        align-items: center;
    }

    .pagination a {
    	text-decoration: none;
    }

    .pagination span.current {
        color: grey;
        font-size: 0.8rem;
    }

    .page-change-btn i {
        font-size: 0.6rem;
        vertical-align: middle;
        margin-top: -4px;
        margin-left: 2px
    }

    .page-change-btn {
        background: #fff;
        color: var(--dark);
        border: 1px solid #e3e3e3;
        padding: 5px 11px 8px 11px;
        margin: 0 8px 8px 0;
        font-size: 0.8rem;
        color: #666;
    }
    .page-change-btn:hover {
        border: 1px solid var(--dark);
        background: var(--dark);
        color: #fff;
    }
    .page-change-btn.active {
        border: 1px solid var(--danger);
        background: var(--danger);
        color: #fff;
    }
</style>