{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


{% url 'course:home' as home_url %}
{% url "course:all-courses" as allcourse_url %}
{% url 'search' as course_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'password_change' as password_change_url %}
{% url 'posts:list' as blog_url %}

<nav class="blog-navbar navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler mr-2" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="{{home_url}}">
      <strong>Coursebio</strong>
    </a>

    <div class="nav-search-form-div-mobile ml-3">
      {% include 'search_forms/search-form.html' %}
    </div>

    <div class="navbar-collapse offcanvas-collapse blog-offcanvas-collapse open" id="navbarsExampleDefault">
      <div class="offcanvas-head-div border-bottom pb-2">
        <div class="offcanvas-brand-div">
          <h6><strong>Coursebio - Happy Learning</strong></h6>
        </div>
        <div class="offcanvas-navbar-toggler-div">
          <button class="navbar-toggler mr-2" type="button" data-toggle="offcanvas">
            <span><i class="material-icons">close</i></span>
          </button>
        </div>
      </div>

      <ul class="navbar-nav mr-auto">
        
          <div class="nav-search-form-div ml-3">
            {% include 'search_forms/search-form3.html' %}
          </div>

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu category-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ allcourse_url }}">All Courses</a>
            <div class="dropdown-divider"></div>
            {% for category in course_category_list %}
              <a class="dropdown-item" href="{{category.get_absolute_url}}">{{category}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ blog_url }}">
              Blog
          </a>
        </li>
        
        {% if request.user.is_authenticated %}
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class='dropdown-item' href="{% url 'detail' username=request.user.username %}">Account</a>
          <a class='dropdown-item' href="{% url 'update' username=request.user.username %}">Edit Profile</a>
          <a class='dropdown-item' href='{{password_change_url}}'>Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
        </div>
      </li>
      {% else %}
       <li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Register</a>
      </li>
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{{ login_url }}">Login</a>
      </li>
      {% endif %} 
      </ul>
    </div>
  </div>
</nav>

{% include './nav-js.html' %}
