<nav class="blog-navbar navbar navbar-expand-md fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler mr-2" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="/">
      <strong>Coursebio</strong>
    </a>

    <div class="navbar-collapse offcanvas-collapse blog-offcanvas-collapse open" id="navbarsExampleDefault">
      <div class="offcanvas-head-div">
        <div class="offcanvas-brand-div">
          <h6>Happy Learning</h6>
        </div>
        <div class="offcanvas-navbar-toggler-div">
          <button class="navbar-toggler mr-2" type="button" data-toggle="offcanvas">
            <span><i class="material-icons">close</i></span>
          </button>
        </div>
      </div>
      <!-- <hr> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">
              Categories
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
              Blog
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
              Contact
          </a>
        </li>  
      </ul>  
      {% include 'search_forms/search-form2.html' %}
    </div>
  </div>
</nav>

{% include './nav-css.html' %}
{% include './nav-js.html' %}
