{% extends "base.html" %}
{% load static %}

{% block head_title %}
{{ course.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<style>
.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  margin-left: -60px;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}
</style>
<style>
	.main-container-div {
		margin-top: 30px;
	}
	.top-col {
		box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0 7px 0 rgba(0,0,0,.10);
		border-radius: 6px;
	}
	
	.embed-responsive {
		max-width: 500px;
		margin: auto;
	}
	
	.provider-img-wrapper img {
		width: 15px;
		height: 15px;
		vertical-align: middle;
	    border-style: none;
	    border: 1px solid #ddd;
	    border-radius: 50%;
	}

	.provider-img-wrapper .course-trial {
		font-size: 0.5rem;
	    background: #17a2b8;
	    color: #fff;
	    padding: 3px;
	    text-transform: uppercase;
	}

	.btn1 {
		width: 75%;
	    padding: 10px 32px;
	    background-color: #f44336;
	    border: 2px solid #f44336;
	    border-radius: 6px;
	    text-align: center;
	    text-decoration: none !important;
	    display: inline-block;
	    font-size: 1rem;
	    font-weight: 700;
	    margin: 4px 2px;
	    cursor: pointer;
	    color: #fff;
	    text-decoration: none;
	}

	.btn1:hover {
		color: #fff;
	}

	.course-detail .bottom-detail-div {
		font-size: 0.7rem;
		color: #757575;
	}

	.bottom-detail-div i {
		font-size: 0.7rem;
		vertical-align: middle;
		margin-top: -3px;
	}

	.provider-name {
		font-size: 0.7rem;
	}

	.course-title-div h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}

	.nav-tabs .nav-link.active {
        color: #fff;
        background-color: var(--dark);
        box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
    }

    .related-tags .list-inline-item {
		background: var(--teal);
		font-size: 0.7rem;
		padding: 2px 10px;
	}
	.related-tags .list-inline-item a {
		color: #fff;
		text-decoration: none;
	}
	@media only screen and (max-width: 555px) { 
		.main-container-div {
			margin-top: 70px;
		}
	}
</style>

<div class="container main-container-div">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 bg-white top-col p-2">
			<div class="mt-1">
				<div class="video-wrapper embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" 
					src="{{course.video_url}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					</iframe>
				</div>
			</div> <hr>

			<div class="course-detail mt-3 text-center">
				<div class="provider-img-wrapper mb-2">
					<img src="{{course.provider.image_url}}" alt="">
					<span class="provider-name">{{course.provider}}</span> 

					{% if course.provider.plan_details %}
					    |
					
					<div class="tool-tip course-trial">
						{{course.trial}}
						<span class="tool-tip-text">{{course.provider.plan_details}}</span>
					</div>
					
					{% endif %}
					
				</div>
				<div class="course-title-div">
					<h1>
						{{course.title}}
					</h1>
				</div>
				<div class="bottom-detail-div">
					<span>
						<i class="material-icons">person</i>
						{{course.author}}
					</span> |
					<span>
						<i class="material-icons">access_time</i>
						{{course.duration}}
					</span>
				</div>
				<div class="course-price mb-2">
					{% if course.provider.price %}
					    <p>
					    	$ {{course.provider.price}}
					    	<span>/month</span>
						</p>
					{% elif course.is_free %}
 						<p>Free</p>
					{% else %}
						<p>$ {{course.price}}</p>				
					{% endif %}
				</div>
				<div class="btn-div">
					<div>
						<a href="{{course.get_absolute_url}}" class="btn1">Go to Course</a>
					</div> 
				</div>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 mt-5">
			<div class="pb-5">
				<div class="course-description">
					<div class="tab-div mb-3">
				        <ul class="nav nav-tabs">
				          <li class="nav-item">
				            <a class="nav-link border-bottom active" data-toggle="tab">Course Description</a>
				          </li>
				        </ul>
				    </div>
				    <div class="bg-light p-3">{{course.get_markdown}}</div>
				</div>
			</div>

			<div class="mb-5">
				<div class="related-tags">
					<div class="tab-div mt-3 mb-3">
				        <ul class="nav nav-tabs">
				          <li class="nav-item">
				            <a class="nav-link border-bottom active" data-toggle="tab">Related Tags</a>
				          </li>
				        </ul>
				    </div>
					<ul class="list-inline">
						{% for tag in related_tags %}
							<li class="list-inline-item">
								<a href="/search/?q={{tag}}">{{tag}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 mt-4 mb-5">
			<div class="tab-div mb-3">
		        <ul class="nav nav-tabs">
		          <li class="nav-item">
		            <a class="nav-link border-bottom active" data-toggle="tab">Related Courses</a>
		          </li>
		        </ul>
		    </div>
			<div class="container related-courses course-container mb-3">
		        <div class="swiper-container">
		            <div class="swiper-wrapper" >
		                {% for course in related_courses %}
		                <div class="swiper-slide course-item">
		                    <a class="course-anchor" href="{{ course.get_absolute_url }}">
		                            
	                            <div class="course-img-wrapper text-center">
	                            	<img class="img-thumbnail course-image" src="{{course.image_url}}" alt="{{course}} image">
	                            </div>
	                                
	                            <div class="card-course-detail">
									<div class="provider-img-wrapper mt-3 mb-2">
										<img src="{{course.provider.image_url}}" alt="">
										<span class="provider-name">{{course.provider}}</span> 
										{% if course.provider.plan_details %}
										    |
										
										<div class="tool-tip course-trial">
											{{course.trial}}
											<span class="tool-tip-text">{{course.provider.plan_details}}</span>
										</div>
										
										{% endif %}
										
									</div>
									<div class="card-course-title-div">
										<h3>
											{{course.title}}
										</h3>
									</div>
									<div class="detail-wrapper mt-3">
										<div class="bottom-detail-div card-bottom-detail">
											<p class="author-name">
												<i class="material-icons">person</i>
												{{course.author}}
											</p> 
											<p>
												<i class="material-icons">access_time</i>
												{{course.duration}}
											</p>
										</div>
										<div class="course-price card-course-price">
											{% if course.provider.price %}
											    <p>
													$ {{course.provider.price}}
													<span>/month</span>
												</p>
											{% elif course.is_free %}
												<p>Free</p>
											{% else %}
												<p>
													$ {{course.price}}
												</p>				
											{% endif %}
										</div>
									</div>
										
									
									<div class="card-btn-div">
										<div>
											<a href="{{course.get_absolute_url}}" class="card-btn">See Details</a>
										</div> 
									</div>
									
								</div>
	                            
	                        </a>
		                </div>
		                {% endfor %}
		            </div>
		            <div class="swiper-pagination"></div>
		            <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
		        </div>
			</div>
		</div>
	</div>
</div>

<!-- Swiper JS -->
<script src="{% static 'swiper/swiper.min.js' %}"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 10,
        // centeredSlides: true,
        // init: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            350: {
                slidesPerView: 1,
            },
            600: {
                slidesPerView: 2,
                spaceBetween: 40,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 10,
            },
        },
         // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>


<style>

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
	height: 400px;
}

.swiper-slide {
	background: #ffffff;
	margin-right: 6px !important;
}

.swiper-slide a {
	color: #000;
}

.course-container {
	height: 100%;
    margin: -8px 0;
    padding: 12px 10px 8px 10px;
    position: relative;
    z-index: 1;
}
	

.course-item {
  	height: calc(100% - 10px);
    border-radius: 2px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
    margin: 4px;
    padding: 8px;
    position: relative;
    vertical-align: top;
    white-space: normal;
}

.card-course-detail {
	height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-thumbnail.course-image {
	padding: 0;
    height: 130px;
    border: 0;
	border-radius: 0;
}

.detail-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.course-price {
	color: #212121;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: .5rem;
}

.card-bottom-detail {
	width: 50%;
	font-size: 0.6rem;
	color: #757575;
}

.card-bottom-detail .author-name{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 1px;
}

.card-course-title-div {
	height: 48px;
}

.card-course-title-div h3 {
	color: #000;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 6px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
p {
	margin: 0;
}

.course-anchor {
	text-decoration: none !important;
}


.card-btn-div {
	position: relative;
    display: flex;
    justify-content: center;
}

.card-btn {
	width: 75%;
    padding: 10px 32px;
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 6px;
    text-align: center;
    text-decoration: none !important;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff !important;
}

.card-btn:hover {
	color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
    color: var(--primary);
    background: var(--white);
    border-radius: 50%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:active,
.swiper-button-next:active {
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: 1.2rem;
    font-weight: 700;
}

.swiper-button-disabled {
    display: none;
}

@media only screen and (max-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .card-course-title-div h3 {
    	font-size: 0.8rem;
    }
    .card-bottom-detail {
    	font-size: 0.6rem;
    }
    .course-price {
    	font-size: 0.8rem;
    }
}

</style>

{% endblock content %}