{% extends "base.html" %}
{% load static %}

{% block head_title %}
    {% if subcategory %}
        {{subcategory.title}} Courses | {{ block.super }}
    {% else %}
        Find online Courses | {{ block.super }}
    {% endif %}
{% endblock head_title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course_list.css' %}">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}">


<div class="container course-list mt-3 mb-5">
	{% if not subcategory %}
	    <div class="bg-light p-4 mt-5 mb-5">
    		<strong>Showing all courses</strong>
    	</div>
  	{% else %}
  		<div class="bg-light p-4 mt-5 mb-5">
    		Showing all <strong>{{subcategory}}</strong> courses
    	</div>
	{% endif %}
	    
	{% for course in course_list %} 
		
		<div class="course-wrapper border-bottom">
			<div class="course-img-wrapper">
				<img src="{{course.image_url}}" alt="">
			</div>
			<div class="course-detail">
				<div class="provider-img-wrapper">
					<img src="{{course.provider.image_url}}" alt="">
					<span style="font-size: 0.7rem;">{{course.provider}}</span> 
					{% if course.provider.plan_details %}
					    |
					
					<div class="tool-tip course-trial">
						{{course.trial}}
						<span class="tool-tip-text">{{course.provider.plan_details}}</span>
					</div>
					
					{% endif %}
					
				</div>
				<a class="text-decoration-none text-dark" href="{{course.get_absolute_url}}">
					<span class="course-title">
						{{course.title}}
					</span>
				</a>
				<div class="bottom-detail-div">
					<p class="author-name">
						<i class="material-icons">person</i>
						{{course.author}}
					</p>
					<p>
						<i class="material-icons">access_time</i>
						{{course.duration}}
					</p>
				</div>
				<div class="price-details">
					<div>
						{% if course.provider.price %}
						    $ {{course.provider.price}} <span>/month</span>
						{% elif course.is_free %}
							Free			
						{% else %}
							$ {{course.price}} <span></span>				
						{% endif %}
					</div>
				</div>

			</div>

			<div class="btn-div">
				<div>
					<a href="{{course.course_url}}" class="btn1">Go to Course</a>
				</div> 
				<div>
					<a href="{{course.get_absolute_url}}" class="btn2">View Details</a>
				</div>
			</div>
		</div>
	{% endfor %} 

	{% include "base/pagination/pagination.html" %}
</div>

{% endblock content %}


