{% extends "base.html" %}
{% load static %}

{% block head_title %}
    {% if subcategory %}
        {{subcategory.title}} Courses | {{ block.super }}
    {% else %}
        Find online Courses | {{ block.super }}
    {% endif %}
{% endblock head_title %}

{% block content %}

<style>
.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  margin-left: -60px;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}
</style>


<style>
	.course-wrapper {
		position: relative;
		background: #fff;
		display: flex;
		height: 160px;
		max-width: 870px;
	}

	.course-img-wrapper {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	margin: 0 10px;
	}

	.course-wrapper .provider-img-wrapper img {
		width: 15px;
		height: 15px;
		vertical-align: middle;
	    border-style: none;
	    border: 1px solid #ddd;
	    border-radius: 50%;
	}

	.course-img-wrapper {
		/*border: 1px solid #eee;*/
	}

	.course-img-wrapper img {
		width: 200px;
		height: 112px;
	}

	.course-title {
		height: 54px;
		max-width: 500px;
		font-size: 0.9rem;
    	font-weight: 700;
    	overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}

	.provider-img-wrapper .course-trial {
		font-size: 0.5rem;
	    background: #17a2b8;
	    color: #fff;
	    padding: 3px;
	    text-transform: uppercase;
	}

	.course-detail .bottom-detail-div {
		font-size: 0.7rem;
		color: #757575;
	}

	.bottom-detail-div i {
		font-size: 0.7rem;
		vertical-align: middle;
		margin-top: -3px;
	}

	.price-details {
		position: absolute;
    	bottom: 7%;
		font-size: 0.8rem;
		font-weight: 700;
		color: #000;
	}

	.course-list .btn-div {
		position: absolute;
		right: 1%;
    	margin-top: 1.7%;
	}

	.btn1, .btn2 {
	    background-color: white; 
	    color: black; 
	    border: 2px solid #f44336;
	}

	.btn1, .btn2 {
		width: 150px;
	    padding: 10px 32px;
	    border-radius: 6px;
	    text-align: center;
	    text-decoration: none !important;
	    display: inline-block;
	    font-size: 14px;
	    margin: 4px 2px;
	    transition-duration: 0.4s;
	    cursor: pointer;
	    color: #000;
	}

	.btn2 {
		background-color: #f44336;
		color: white;
	}

	.btn1:hover,
	.btn2:hover {
  		background-color: #f44336;
  		color: white;
	}

	.bottom-detail-div p {
		margin: 0;
	}

	@media only screen and (max-width: 1000px) {
	  .btn-div {
	    display: none;
	  }
	}

	@media only screen and (max-width: 600px) {
		.subcategory-detail-section {
			display: none;
		}

		.course-img-wrapper img {
			width: 50px;
			height: 50px;
		}

		.course-img-wrapper {
			justify-content: flex-start;
			margin-top: 12px;
			width: 50px;
			height: 50px;
		}
		.course-title {
			font-size: 0.7rem;
			height: 42px;
		}
	}

</style>

<div class="container course-list mt-3 mb-5">
	{% if not subcategory %}
	    <div class="bg-dark text-white p-4 mt-5 mb-5">
    		<strong>Showing all courses</strong>
    	</div>
  	{% else %}
  		<div class="bg-dark text-white p-4 mt-5 mb-5">
    		Showing all <strong>{{subcategory}}</strong> courses
    	</div>
	{% endif %}
	    
	{% for course in course_list %} 
		
		<div class="course-wrapper border-bottom">
			<div class="course-img-wrapper">
				<img src="{{course.image_url}}" alt="">
			</div>
			<div class="course-detail">
				<div class="provider-img-wrapper">
					<img src="{{course.provider.image_url}}" alt="">
					<span style="font-size: 0.7rem;">{{course.provider}}</span> 
					{% if course.provider.plan_details %}
					    |
					
					<div class="tool-tip course-trial">
						{{course.trial}}
						<span class="tool-tip-text">{{course.provider.plan_details}}</span>
					</div>
					
					{% endif %}
					
				</div>
				<a class="text-decoration-none text-dark" href="{{course.get_absolute_url}}">
					<span class="course-title">
						{{course.title}}
					</span>
				</a>
				<div class="bottom-detail-div">
					<p class="author-name">
						<i class="material-icons">person</i>
						{{course.author}}
					</p>
					<p>
						<i class="material-icons">access_time</i>
						{{course.duration}}
					</p>
				</div>
				<div class="price-details">
					<div>
						{% if course.provider.price %}
						    $ {{course.provider.price}} <span>/month</span>				
						{% else %}
							$ {{course.price}} <span></span>				
						{% endif %}
					</div>
				</div>

			</div>

			<div class="btn-div">
				<div>
					<a href="{{course.get_absolute_url}}" class="btn1">Go to Course</a>
				</div> 
				<div>
					<a href="{{course.get_absolute_url}}" class="btn2">View Details</a>
				</div>
			</div>
		</div>
	{% endfor %} 
</div>



{% endblock content %}

<div class="course-video">
				<iframe width="200" height="112"
				src="{{course.video_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
			</div>

