{% extends "base.html" %}
{% load static %}

{% block head_title %}
{{ course.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}">


<div class="container main-container-div">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 bg-white top-col p-2">
			<div class="mt-1 text-center">
				{% if course.video_url %}
				<div class="video-wrapper embed-responsive embed-responsive-16by9">
					<video controls width="250">
					    <source src="{{course.video_url}}"
					            type="video/webm">
					    <source src="{{course.video_url}}"
					            type="video/mp4">
					    Sorry, your browser doesn't support embedded videos.
					</video>
				</div>
				{% else %}
					<img class="img-fluid" src="{{course.image_url}}" alt="">
				{% endif %}
			</div> <hr>

			<div class="course-detail mt-3 text-center">
				<div class="provider-img-wrapper mb-2">
					<img src="{{course.provider.image_url}}" alt="">
					<span class="provider-name">{{course.provider}}</span> 

					{% if course.provider.plan_details %}
					    |
					
					<div class="tool-tip course-trial">
						{{course.trial}}
						<span class="tool-tip-text">{{course.provider.plan_details}}</span>
					</div>
					
					{% endif %}
					
				</div>
				<div class="course-title-div">
					<h1>
						{{course.title}}
					</h1>
				</div>
				<div class="bottom-detail-div">
					<span>
						<i class="material-icons">person</i>
						{{course.author}}
					</span> |
					<span>
						<i class="material-icons">access_time</i>
						{{course.duration}}
					</span>
				</div>
				<div class="course-price mb-2">
					{% if course.provider.price %}
					    <p>
					    	$ {{course.provider.price}}
					    	<span>/month</span>
						</p>
					{% elif course.is_free %}
 						<p>Free</p>
					{% else %}
						<p>$ {{course.price}}</p>				
					{% endif %}
				</div>
				<div class="btn-div">
					<div>
						<a href="{{course.course_url}}" class="btn1">Go to Course</a>
					</div> 
				</div>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 mt-5">
			<div class="pb-5">
				<div class="course-description">
					<div class="tab-div mb-3">
				        <ul class="nav nav-tabs">
				          <li class="nav-item">
				            <a class="nav-link border-bottom active" data-toggle="tab">Course Description</a>
				          </li>
				        </ul>
				    </div>
				    <div class="bg-light p-3">{{course.get_markdown|safe}}</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 mt-4 mb-5">
			<div class="tab-div mb-3">
		        <ul class="nav nav-tabs">
		          <li class="nav-item">
		            <a class="nav-link border-bottom active" data-toggle="tab">Related Courses</a>
		          </li>
		        </ul>
		    </div>
			<div class="container related-courses course-container mb-3">
		        <div class="swiper-container">
		            <div class="swiper-wrapper" >
		                {% for course in related_courses %}
		                <div class="swiper-slide course-item">
		                    <a class="course-anchor" href="{{ course.get_absolute_url }}">
		                            
	                            <div class="course-img-wrapper text-center">
	                            	<img class="img-thumbnail course-image" src="{{course.image_url}}" alt="{{course}} image">
	                            </div>
	                                
	                            <div class="card-course-detail">
									<div class="provider-img-wrapper mt-3 mb-2">
										<img src="{{course.provider.image_url}}" alt="">
										<span class="provider-name">{{course.provider}}</span> 
										{% if course.provider.plan_details %}
										    |
										
										<div class="tool-tip course-trial">
											{{course.trial}}
											<span class="tool-tip-text">{{course.provider.plan_details}}</span>
										</div>
										
										{% endif %}
										
									</div>
									<div class="card-course-title-div">
										<h3>
											{{course.title}}
										</h3>
									</div>
									<div class="detail-wrapper mt-3">
										<div class="bottom-detail-div card-bottom-detail">
											<p class="author-name">
												<i class="material-icons">person</i>
												{{course.author}}
											</p> 
											<p>
												<i class="material-icons">access_time</i>
												{{course.duration}}
											</p>
										</div>
										<div class="course-price card-course-price">
											{% if course.provider.price %}
											    <p>
													$ {{course.provider.price}}
													<span>/month</span>
												</p>
											{% elif course.is_free %}
												<p>Free</p>
											{% else %}
												<p>
													$ {{course.price}}
												</p>				
											{% endif %}
										</div>
									</div>
										
									
									<div class="card-btn-div">
										<div>
											<a href="{{course.get_absolute_url}}" class="card-btn">See Details</a>
										</div> 
									</div>
									
								</div>
	                            
	                        </a>
		                </div>
		                {% endfor %}
		            </div>
		            <div class="swiper-pagination"></div>
		            <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
		        </div>
			</div>
		</div>
	</div>
</div>

<!-- Swiper JS -->
<script src="{% static 'swiper/swiper.min.js' %}"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1.1,
        spaceBetween: 10,
        // centeredSlides: true,
        // init: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        breakpoints: {
            350: {
                slidesPerView: 1.1,
            },
            600: {
                slidesPerView: 2,
                spaceBetween: 10,
            },
            768: {
                slidesPerView: 2.5,
                spaceBetween: 10,
            },
            1024: {
                slidesPerView: 3.5,
                spaceBetween: 10,
            },
            1150: {
                slidesPerView: 4,
                spaceBetween: 10,
            },
        },
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

{% endblock content %}