{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/search_list.css' %}">
<link rel="stylesheet" href="{% static 'css/tooltip.css' %}">

<div class="container course-list mt-3 mb-5">
	<div class='row  mb-3'>
        
        <div class='col-sm-12 col-md-6 col-lg-6 mx-auto p-3'>
           {% include 'search_forms/search-form.html' %}

        </div>
        <div class="col-12">
        	<hr/>
        </div>
        {% if course_list and query %}
            <div class='col-12' >
	        	
	            <div class="bg-light p-3">
	            	Showing Results for -<strong> {{ query }}</strong>
	            </div>
	        </div>
        {% endif %}
        {% if not query %}
            <div class='col-12' >
	        	
	            <div class="bg-light p-3">
	            	<strong>Showing all courses</strong>
	            </div>
	        </div>
        {% endif %}
        
	</div>
	{% if course_list %}
	    
	{% for course in course_list %}
		<br>
		<div class="course-wrapper border-bottom">
			<div class="course-img-wrapper">
				<img src="{{course.image_url}}" alt="">
			</div>
			<div class="course-detail">
				<div class="provider-img-wrapper">
					<img src="{{course.provider.image_url}}" alt="">
					<span style="font-size: 0.7rem;">{{course.provider}}</span> 
					{% if course.provider.plan_details %}
					    |
					
					<div class="tool-tip course-trial">
						{{course.trial}}
						<span class="tool-tip-text">{{course.provider.plan_details}}</span>
					</div>
					
					{% endif %}
					
				</div>
				<a href="{{course.get_absolute_url}}" class="text-decoration-none text-dark">
					<span class="course-title">
						{{course.title}}
					</span>
				</a>
				<div class="bottom-detail-div">
					<p class="author-name">
						<i class="material-icons">person</i>
						{{course.author}}
					</p>
					<p>
						<i class="material-icons">access_time</i>
						{{course.duration}}
					</p>
				</div>
				<div class="price-details">
					<div>
						{% if course.provider.price %}
							$ {{course.provider.price}} <span>/month</span>
						{% elif course.is_free %}
							Free
						{% else %}
							$ {{course.price}}			
						{% endif %}
					</div>
				</div>

			</div>

			<div class="btn-div">
				<div>
					<a href="{{course.course_url}}" class="btn1">Go to Course</a>
				</div> 
				<div>
					<a href="{{course.get_absolute_url}}" class="btn2">View Details</a>
				</div>
			</div>
		</div>
	{% endfor %}

	{% else %}
    	<div class="text-center text-danger">
    		<h1>No course found - <span class="text-muted">{{query}}</span></h1>
    		<i class="material-icons" style="font-size: 2.5rem;">sentiment_very_dissatisfied</i>
    	</div>
	{% endif %}
</div>



{% endblock content %}
