{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .header-section {
        height: 400px;
        background-image: url('{{category_image}}');
        background-size: cover;
        background-position: center;
        border-bottom: 1px solid #6c757d;
    }
    .header-info {
        position: absolute;
        top: 20%;
        right: 35%;
        color: #fff;
    }

    .category-section {
        min-height: 400px;
    }
</style>

<section class="header-section">
    <div class="container">
        <div class="header-info">
            <h1>Coursebio</h1>
            <h3 style="font-size: 1rem;font-weight: 400;">Find and compare <strong>online courses</strong> and MOOCs <br>
                        from multiple e-learning platforms
                        </h3>
            <form class="mb-2" method='GET' action='' class="header-search-form">
                <div class="input-group">
                    <input class="form-control py-2" placeholder="Find a course.." type="text" name='' value='' style="border-radius: 0;">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" style="border-radius: 0;">
                               Search
                            </button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</section>


<style>

    .category-section .row .category-wrapper {
        min-height: 65px;
        background: #fff;
        border: 1px solid #dee2e6;
        padding: 12px;
        cursor: pointer;
    }

    .category-section .category-wrapper:hover,
    .category-section .category-wrapper:active,
    .category-section .category-wrapper:focus {
        border: none;
        box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    }

    h2::after {
        display: block;
        height: 2px;
        background-color: #ffd700;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }

    .category-section a {
        text-decoration: none;
        color: #343a40;
    }

    .subcategory-img {
    	width: 35px;
    	height: 35px;
    }
</style>

<section class="category-section">
    <div class="container">
    	<div class="mt-3">
            <h2 class="text-center" style="color: #343a40">{{category}}</h2>
        </div>
        <div class="row mt-4">
            {% for subcategory in subcategory_list %}
                <div class="col-sm-12 col-md-6 col-lg-3 mb-3">
                    <a href="">
                        <div class="category-wrapper">
                        	<img class="subcategory-img" src="{{subcategory.image_url}}" alt="">
                            {{subcategory}}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}



