{% extends "base.html" %}
{% load static %}

{% block head_title %}
{{ category.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/subcat_list.css' %}">

<section class="header-section">
    <div class="container header-container">
        <div class="header-info">
            <h1>Always be learning. Invest in you.</h1>
            <h3 style="font-size: 1rem;font-weight: 400;">Find and compare <strong>online courses</strong>
                        from multiple e-learning platforms at one place.
                        </h3>
            {% include 'search_forms/search-form2.html' %}
            
        </div>
    </div>
</section>


<div class="container subcategory-container">
    <div class="tab-div mt-3">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link border-bottom active" data-toggle="tab">{{category}}</a>
          </li>
        </ul>
    </div>
    <div class="row mt-4">
        {% for subcategory in subcategory_list %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <a href="{{subcategory.get_absolute_url}}">
                    <div class="subcategory-wrapper">
                        {% comment "subcategory.image_url is none" %}
                            <div class="subcategory-img-wrapper">
                                <img class="subcategory-img" src="{{subcategory.image_url}}" alt="">
                            </div>
                        {% endcomment %}
                        <div>
                            <p style="margin-top: 8px;">{{subcategory}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
