
.block-title-div {
    position: relative;
}
.block-title {
    font-size: 14px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 26px;
    border-bottom: 2px solid #222;
}
.block-title span {
    line-height: 17px;
    display: inline-block;
    padding: 7px 12px 4px;
    background-color: #222;
    color: #fff;
}

.post-list:hover {
    background-color: #dee2e6;
    transition-duration: 0.2s;
}

.post-anchor-tag {
    text-decoration: none !important;
    color: #333 !important;
}

.post-wrapper {
    display: flex;
}

.post-img-wrapper {
    height: 150px;
    width: 200px;
}

.post-detail-div {
    height: 150px;
}

.post-title {
    max-width: 500px;
    font-size: 0.9rem;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-div {
    height: 64px;
    font-size: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.timestamp-div {
    font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {

    .post-img-wrapper {
        width: 55px;
    }

    .post-title { 
        font-size: 0.7rem;
    }
    .content-div {
        font-size: 0.6rem;
        height: 60px;
    }
}
@media only screen and (max-width: 374px) { 
    .content-div { 
        height: 89px;
    }
}

.best-providers-list {
    list-style: none;
    font-size: 16px;
    padding:0;
    margin-left: 10px;
    font-weight: bold;
}
.best-providers-list li {
    margin-bottom: 10px;
}
.best-providers-list .provider-image{
    width: 32px;
    height: 32px;
    padding: 2.2px;
    vertical-align: middle;
    margin-top: -4px;
    border-style: none;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}
