/* Banner Section Starts */

.nav-search-form-div-mobile {
        display: none;
    }

.nav-search-form-div {
    display: none;
}

.header-section {
    height: 400px;
    background-image: url('https://images.pexels.com/photos/187107/pexels-photo-187107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #6c757d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-info {
    background: #fff;
    width: 440px;
    color: #343a40;
    padding: 25px;
}

.header-info h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2rem;
}
.header-info h3 {
    font-size: 1rem;
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    .header-info h1 {
        font-size: 1.6rem;
    }
    .header-info h3 {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 350px) {
    .header-info h1 {
        font-size: 1.4rem;
    }
    .header-info h3 {
        font-size: 0.7rem;
    }
}

/* Banner Section Ends */

/* Categories Section Starts */

.category-container .row .category-wrapper {
    background: #fff;
    border: 1px solid #dee2e6;
    padding: 12px;
    cursor: pointer;
}

.category-container .category-wrapper:hover,
.category-container .category-wrapper:active,
.category-container .category-wrapper:focus {
    border: none;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.category-header-div {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #ffd700;
    content: " ";
    width: 100px;
    margin: 20px auto;
}

.category-container a {
    text-decoration: none;
    color: #343a40;
}
.category-wrapper .category-icons {
    margin-top: -4px;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--primary);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
}

/* Categories Section Ends */

/* Carousel Quotes Section Starts */

.quotes-carousel-container {
    background: #adb5bd;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-inner {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.carousel-item.active {
    margin-right: 0;
    width: 50%;
}

.carousel-item {
    background: #fff;
    color: #333;
    padding: 12px 10px 8px 10px;
    height: 200px;
    border-radius: 2px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
}
.blockquote-footer {
    background: inherit;
}

@media only screen and (max-width: 800px) { 
    .blockquote {
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .blockquote {
        font-size: 0.8rem !important;
    }
    .carousel-item.active {
        width: 100%;
    }

    .carousel-control-next, 
    .carousel-control-prev {
        display: none;
    }
}

/* Carousel Quotes Section Ends */

/* Courses slider section starts */

.provider-img-wrapper img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border-style: none;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.provider-img-wrapper .course-trial {
    font-size: 0.5rem;
    background: #17a2b8;
    color: #fff;
    padding: 3px;
    text-transform: uppercase;
}

.btn1 {
    width: 75%;
    padding: 10px 32px;
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 6px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.btn1:hover {
    color: #fff;
}

.course-detail .bottom-detail-div {
    font-size: 0.6rem;
    color: #757575;
}

.bottom-detail-div i {
    font-size: 0.6rem;
    vertical-align: middle;
    margin-top: -3px;
}

.provider-name {
    font-size: 0.7rem;
}

.course-title-div h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    /*height: 320px;*/
}

.swiper-slide {
    background: #ffffff;
    /*margin-right: 6px !important;*/
}

.course-container {
    height: 100%;
    margin: -8px 0;
    padding: 12px 10px 8px 10px;
    position: relative;
    z-index: 1;
}
    

.course-item {
    height: calc(100% - 10px);
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
    margin: 4px;
    padding: 8px;
    position: relative;
    vertical-align: top;
    white-space: normal;
}


.card-course-detail {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course-image {
    width: 230px;
    height: 130px;
}

.detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-price {
    color: #212121;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: .5rem;
}

.card-bottom-detail {
    width: 50%;
    font-size: 0.6rem;
    color: #757575;
}

.card-bottom-detail .author-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 1px;
}

.card-course-title-div {
    height: 48px;
}

.card-course-title-div h3 {
    color: #000;
    font-size: 0.8rem;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
p {
    margin: 0;
}

.course-anchor {
    text-decoration: none !important;
}


.card-btn-div {
    position: relative;
    display: flex;
    justify-content: center;
}

.card-btn {
    padding: 5px 20px;
    background-color: #f44336;
    border: 2px solid #f44336;
    border-radius: 6px;
    text-align: center;
    text-decoration: none !important;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff !important;
}

.card-btn:hover {
    color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
    height: 50px;
    width: 50px;
    color: var(--primary);
    background: var(--white);
    border-radius: 50%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:active,
.swiper-button-next:active {
    box-shadow: 0 0 8px 1px rgba(0,0,0,.05), 0 0px 7px 0 rgba(0,0,0,.10);
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: 1.2rem;
    font-weight: 700;
}

.swiper-button-disabled {
    display: none;
}

.swiper-slide a {
    color: #000;
}


@media only screen and (max-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

/* Tooltip */

.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0;
  margin-left: -60px;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

/* Courses slider section ends */