{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css.html' %}

    <title>Coursebio</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>

    <style>
      
      html,
      body {
          background: #ffffff;
          font-family: 'Lato', sans-serif, Arial, Helvetica;
          font-weight: 400;
          font-size: 20px;
          text-rendering: optimizeLegibility;
      }
      
      body {
        overflow-y: hidden;
      }


      .clearfix {
          zoom: 1;
      }

      .clearfix:after {
          content: '.';
          clear: both;
          display: block;
          height: 0;
          visibility: hidden;
      }
    </style>

  </head>
  <body>
    {% include 'base/navbar/navbar.html' %}
    
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="text-center alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

	  {% block content %}
    {% endblock %}

    {% include 'base/footer/footer.html' %}
	
    {% include 'base/js.html' %}

  </body>
</html>