{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .header-section {
        height: 350px;
        background-image: url('https://images.pexels.com/photos/187107/pexels-photo-187107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        background-position: center;
    }
    .header-info {
        position: absolute;
        top: 20%;
        right: 35%;
        color: #fff;
    }

</style>

<section class="header-section">
    <div class="container">
        <div class="header-info">
            <h1>Coursebio</h1>
            <h3 style="font-size: 1rem;font-weight: 400;">Find and compare <strong>online courses</strong> and MOOCs <br>
                        from multiple e-learning platforms
                        </h3>
            <form class="mb-2" method='GET' action='' class="header-search-form">
                <div class="input-group">
                    <input class="form-control py-2" placeholder="Find a course.." type="text" name='' value='' style="border-radius: 0;">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" style="border-radius: 0;">
                               Search
                            </button>
                        </span>
                </div>
            </form>
            
        </div>
    </div>
</section>

<section class="category-section">
    <div class="container">
        
    </div>
</section>

{% endblock content %}
