{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .header-section {
        height: 400px;
        background-image: url('https://images.pexels.com/photos/187107/pexels-photo-187107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        background-position: center;
        border-bottom: 1px solid #6c757d;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-info {
        background: #fff;
        height: 270px;
        width: 440px;
        color: #343a40;
        padding: 25px;
    }

    .header-info h1 {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -.02rem;
        font-size: 2rem;
    }

    .category-container {
        min-height: 400px;
        /*padding-top: 25px;*/
        /*background: #fff;*/
    }
</style>

<section class="header-section">
    <div class="container header-container">
        <div class="header-info">
            <h1>A world of opportunity</h1>
            <h3 style="font-size: 1rem;font-weight: 400;">Find and compare <strong>online courses</strong> and MOOCs
                        from multiple e-learning platforms
                        </h3>
            {% include 'search_forms/search-form2.html' %}
            
        </div>
    </div>
</section>

<style>

    .category-container .row .category-wrapper {
        min-height: 65px;
        background: #fff;
        border: 1px solid #dee2e6;
        padding: 12px;
        cursor: pointer;
    }

    .category-container .category-wrapper:hover,
    .category-container .category-wrapper:active,
    .category-container .category-wrapper:focus {
        border: none;
        box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    }

    .category-header-div {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin-top: 25px;
    }

    h2::after {
        display: block;
        height: 2px;
        background-color: #ffd700;
        content: " ";
        width: 100px;
        margin: 20px auto;
    }

    .category-container a {
        text-decoration: none;
        color: #343a40;
    }
    .category-wrapper .material-icons {
        vertical-align: middle;
        margin-top: -4px;
    }
</style>

<div class="container category-container">
    <div class="category-header-div">
        <h2>Categories</h2>
    </div>
    <div class="row mt-4">
        {% for category in category_list %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <a href="{{category.get_absolute_url}}">
                    <div class="category-wrapper">
                        <p>
                            <i class="material-icons">{{category.icon_name}}</i>
                            {{category}}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
