{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    .header-section {
        height: 800px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://lh3.googleusercontent.com/y0EnMaJBExlmK8ukIWMI5MPkEpkqtVVfdT3VrmLuX-h8WlPC_IiNmTXbsQ7sDKYhFmUYbv4MaiPhsDgQac_UU8i38h1U10_oQBmqF5tdIk-MEVRcgj41Wav7vANCpV264_fdUolgCjcF-BiSBtfXho_jqoIDQKNwU2lTVMux6pjoLTnxaoIy2Z-ttPSZjAyGnMG79NauXoI1JWcqdN6WorV2GvWOwzC2OtNxdvynRVAo50SAj6NYB0qGJXWJxfKwAFLGlS5xGv7yY_7nCce7qOq-eI0H_OHkqGgDgapeKYJwEJTQWy_kFofbnTMch1CZD9yx0lPmWpOQkDpc87hYxpRM134hpYgqViIP66wdbUW-aROi3i0c2Q_EyTYs_g6wOfQOz-09I0j1dUjdDqO9IF-eY4QSXTmDUwOMMflAsLYYld23ZnMiDnm2bTbX94dBJmIP3ngGahi8J7F86FZ02hAtbP0ne_QzC7UWPSyB_1Jzz0naTX0VRZr8WUZ7_8j67PleARB5ojLXF29hA2ZSREz-bP6-2rNCtM3nou1BD-pmn8-aVx_6Ui5_4usNJpxNlbWOCdeV85d3ANxvuNQSkIEHdUn7oyZBZgd1LSSCkHNJxwJdJXsvlCLor4i7kCwdA6Qx6abf95ejukjU4OIU6MUTOylNyjNRdetOfQ3jSgKwhGRz8CyT3w=w417-h625-no');
        background-size: cover;
        background-position: center;
    }
    .header-info {
        position: absolute;
        top: 35%;
        right: 35%;
        color: #333;
    }

</style>

<section class="header-section">
    <div class="container">
        <div class="header-info">
            <h1>Learning Camp</h1>
            <h3 style="font-size: 1rem;font-weight: 400;">Find and compare <strong>online courses</strong> and MOOCs <br>
                        from multiple e-learning platforms
                        </h3>
            <form class="mb-2" method='GET' action='' class="header-search-form">
                <div class="input-group">
                    <input class="form-control py-2" placeholder="Find a course.." type="text" name='' value='' style="border-radius: 0;">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" style="border-radius: 0;">
                               Search
                            </button>
                        </span>
                </div>
            </form>
            
        </div>
    </div>
</section>

{% endblock content %}
