{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/course_list.css' %}">

<section class="main-section">
    <div class="container login-container pt-5">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-3">Contact Us</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-danger" style="width: 100%;" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
